#!/bin/bash
# vim: fdm=marker ft=sh
alias ls="ls -F"
alias vim="nvim"
alias vimzsh="vim ~/.zshrc"
alias vimaliases="vim \$HOME/.aliases"
alias vimfunctions="vim \$HOME/.functions"
alias srczsh="source ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias ll="ls -l"
alias la="ls -la"
alias tree="tree -C"
alias pa="php artisan"
alias xclip-i="xclip -selection clipboard -t image/png -i"
alias s="export TERM=xterm; ssh "
alias please="sudo"
alias ft='flutter'
alias gc="git clone"
alias gcm="git commit -m"
alias php53="docker run --rm -it -v "$PWD:$PWD" php:5.3.29-cli php -l $PWD/"
alias g='grep -ni --color'
alias gg='grep -Ri --color'
alias dockernames="docker ps --format '{{.ID}}\t{{.Names}}'"
alias dknames='dockernames'
#function dockernames { docker ps --format '{{.Id .Names}}' }
alias dc="docker-compose"
alias dcupd='dc up -d'
alias dcps="dc ps"
