#!/bin/bash
source "${HOME}/.profile" & # source .profile variables
unclutter & # no mouse when iddle
fusuma & # Start fusuma for multigestures on lightdm boot
"${HOME}"/petryfiles/scripts/update_mpris2.py & # Start the update_mpris2 daemon
spotify & # initiatiate spotify always
chromium & # Start a chrome session
sxhkd -c "${HOME}"/.config/sxhkd/sxhkdrc &
kitty &
fusuma &
compton &
