User/globalStorage/
machineid
rapid_render.json
storage.json
Backups/
Cache/
CachedData/
CachedExtensions/
Code Cache/
Cookies
Cookies-journal
GPUCache/
Network Persistent State
User/workspaceStorage/
languagepacks.json
logs/
